html, body {
  background-image: url("Translate-App-Hands-On.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 270px;
  height: 400px;
}
p,div{
  color: orange;
}

.English{
  padding: 10px;
  height: 150px; 
}
.Indic_Language{
  padding: 10px;
  height: 150px;
}
